
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #fafafa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #5b5b5b;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
}

body > * {
    -webkit-transform: translateZ(0px);
}

input {
    height: 66%;
    width: 66%;
}

.launch-screen {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(255, 234, 174, 0.43);
    position: relative;
}

.menu-screen {
    width: 100%;
    height: 100%;
    display: none;
}

.launch-content {
    width: 33%;
    height: auto;
    text-align: center;
    font-size: 48px;

}

.button {
    -webkit-box-sizing: border-box;
    float: left;
    border: 5px solid black;
    font-size: 48px;
    position: relative;
}

/*.back-button {*/
    /*width: 100%;*/
    /*height: 16%;*/
/*}*/

/*.back-text {*/
    /*margin: 0;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*-webkit-transform: translate(0, -50%);*/
/*}*/

.tall-button {
    width: 50%;
    height: 66%;
    /*height: 56%;*/
}

.wide-button {
    width: 100%;
    height: 34%;
    /*height: 28%;*/
}

.center {
    margin: 0 -50% 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%)
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
}

.browse-screen {
    width: 100%;
    height: 100%;
    display: none;
}

.search-bar {
    -webkit-box-sizing: border-box;
    background-color: rgba(255, 234, 174, 0.43);
    width: 100%;
    height: 15%;
    border-bottom: 5px solid black;
    position: fixed;
    top: 0;
    z-index: 100;
    font-size: 48px;
}

.item-container {
    width: 100%;
    height: 100%;
    -moz-animation-duration: 0s;
    -o-animation-duration: 0s;
    animation-duration: 0s;%;
    z-index: 0;
    position: absolute;
    top: 15%;
    overflow: auto;
}

.item {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
}

.item-image {
    height: 80%;
    width: auto;
    float: left;
    padding-left: 2.5%;
    padding-right: 8%;
}

.item-text {
    width: 30%;
    font-size: 24px;
    float: right;
}

.info-screen {
    display: none;
}

.info-image {
    width: 64%;
    height: auto;
    float: left;
}

.info-text {
    width: 33%;
    height: 100%;
    padding-left: 3%;
    float: left;
    line-height: 200%;
    font-size: 16px;
}
